@import url('https://fonts.googleapis.com/css?family=Noticia+Text|Lalezar');

:root {
  --padding: 21px;
  --bg-color: #f5f8eb;
  --text-color: #292c35;
  --accent-color: #a0bb2e;
  --font-family: 'Noticia Text';
  --font-display: 'Lalezar';
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
}

.article {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--padding);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 2;
  font-size: 21px;
}

h2 {
  font-size: 180%;
  transform: translateX(-5px);
  font-family: var(--font-display);
  margin-bottom: 0;
}

a {
  color: blue;
}

p {
  margin-bottom: 2em;
}

h2:after {
  content: '';
  display: block;
  height: 8px;
  background: var(--accent-color);
  max-width: 55px;
  transform: skewX(-21deg) translateY(-13px);
  border-radius: 3px;
}

img {
  display: block;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.infobox {
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  background-color: #e0e0d1;
  border-color: blue;
  border-width: 3px;
  border-style:solid;
  color: rgba(0, 0, 0, 0.844);
}

.subtitle {
  text-align: center;
  font-size: 80%;
}

#homelink {
  position:fixed;
  background-color: rgb(160, 188, 217);
  padding: 10px;
  border-radius: 5px;
  top: 2%;
  right: 2%;
}
